# 데이터시각화 기말고사 2번문제

In [ ]:
import numpy as np 
import pandas as pd 
import warnings
from IPython.display import HTML
from pandas_datareader import data as pdr
import json 
import folium 
 
import json 
import requests

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/2021DV/master/_notebooks/covid19_20211202.csv')

In [4]:
df

,일자,계(명),서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,검역
0,누적(명),"457,612","158,774","16,555","19,114","25,299","6,353","8,809","5,675","1,588","136,546","8,889","8,942","13,174","6,453","4,498","11,471","15,236","3,762","6,474"
1,2020-01-20,1,-,-,-,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-
2,2020-01-21,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
3,2020-01-22,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
4,2020-01-23,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679,2021-11-28,"3,925","1,673",148,106,278,52,53,4,5,"1,090",63,25,121,45,25,103,89,35,10
680,2021-11-29,"3,308","1,393",144,88,233,61,43,2,15,910,56,33,52,49,28,68,86,44,3
681,2021-11-30,"3,032","1,186",79,78,192,52,43,3,22,909,84,59,81,50,36,68,60,22,8
682,2021-12-01,"5,123","2,222",143,86,326,29,88,17,20,"1,582",105,48,96,50,40,97,127,27,20
683,2021-12-02,"5,266","2,268",158,70,355,39,166,18,8,"1,495",145,49,149,71,39,106,94,31,5

In [5]:
df=df.iloc[1:,:]

In [6]:
df

,일자,계(명),서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,검역
1,2020-01-20,1,-,-,-,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-
2,2020-01-21,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
3,2020-01-22,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
4,2020-01-23,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
5,2020-01-24,1,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679,2021-11-28,"3,925","1,673",148,106,278,52,53,4,5,"1,090",63,25,121,45,25,103,89,35,10
680,2021-11-29,"3,308","1,393",144,88,233,61,43,2,15,910,56,33,52,49,28,68,86,44,3
681,2021-11-30,"3,032","1,186",79,78,192,52,43,3,22,909,84,59,81,50,36,68,60,22,8
682,2021-12-01,"5,123","2,222",143,86,326,29,88,17,20,"1,582",105,48,96,50,40,97,127,27,20
683,2021-12-02,"5,266","2,268",158,70,355,39,166,18,8,"1,495",145,49,149,71,39,106,94,31,5

In [7]:
df["계(명)"] = df["계(명)"].str.replace(pat=r'[^\w]', repl=r'', regex=True)#, 삭제
df["서울"]=df["서울"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
df["부산"]=df["부산"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
df["대구"]=df["대구"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
df["인천"]=df["인천"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
df["광주"]=df["광주"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
df["대전"]=df["대전"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
df["울산"]=df["울산"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
df["세종"]=df["세종"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
df["경기"]=df["경기"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
df["강원"]=df["강원"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
df["충북"]=df["충북"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
df["충남"]=df["충남"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
df["전북"]=df["전북"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
df["전남"]=df["전남"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
df["경북"]=df["경북"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
df["경남"]=df["경남"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
df["제주"]=df["제주"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
df["검역"]=df["검역"].str.replace(pat=r'[^\w]', repl=r'', regex=True)

<ipython-input-7-252713c7230a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["계(명)"] = df["계(명)"].str.replace(pat=r'[^\w]', repl=r'', regex=True)#, 삭제
<ipython-input-7-252713c7230a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["서울"]=df["서울"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
<ipython-input-7-252713c7230a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["부산"]=df["부산"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
<ipython-input-7-252713c7230a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["대구"]=df["대구"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
<ipython-input-7-252713c7230a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["인천"]=df["인천"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
<ipython-input-7-252713c7230a>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["광주"]=df["광주"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
<ipython-input-7-252713c7230a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["대전"]=df["대전"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
<ipython-input-7-252713c7230a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["울산"]=df["울산"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
<ipython-input-7-252713c7230a>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["세종"]=df["세종"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
<ipython-input-7-252713c7230a>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["경기"]=df["경기"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
<ipython-input-7-252713c7230a>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["강원"]=df["강원"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
<ipython-input-7-252713c7230a>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["충북"]=df["충북"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
<ipython-input-7-252713c7230a>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["충남"]=df["충남"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
<ipython-input-7-252713c7230a>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["전북"]=df["전북"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
<ipython-input-7-252713c7230a>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["전남"]=df["전남"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
<ipython-input-7-252713c7230a>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["경북"]=df["경북"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
<ipython-input-7-252713c7230a>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["경남"]=df["경남"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
<ipython-input-7-252713c7230a>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["제주"]=df["제주"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
<ipython-input-7-252713c7230a>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["검역"]=df["검역"].str.replace(pat=r'[^\w]', repl=r'', regex=True)

In [8]:
df

,일자,계(명),서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,검역
1,2020-01-20,1,,,,1,,,,,,,,,,,,,,
2,2020-01-21,0,,,,,,,,,,,,,,,,,,
3,2020-01-22,0,,,,,,,,,,,,,,,,,,
4,2020-01-23,0,,,,,,,,,,,,,,,,,,
5,2020-01-24,1,1,,,,,,,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679,2021-11-28,3925,1673,148,106,278,52,53,4,5,1090,63,25,121,45,25,103,89,35,10
680,2021-11-29,3308,1393,144,88,233,61,43,2,15,910,56,33,52,49,28,68,86,44,3
681,2021-11-30,3032,1186,79,78,192,52,43,3,22,909,84,59,81,50,36,68,60,22,8
682,2021-12-01,5123,2222,143,86,326,29,88,17,20,1582,105,48,96,50,40,97,127,27,20
683,2021-12-02,5266,2268,158,70,355,39,166,18,8,1495,145,49,149,71,39,106,94,31,5

In [9]:
def sep_yearmonths(x):
    x['month'] = str(x['일자'])[:-3]
    return x

df = df.apply(sep_yearmonths,axis=1)

In [10]:
df

,일자,계(명),서울,부산,대구,인천,광주,대전,울산,세종,...,강원,충북,충남,전북,전남,경북,경남,제주,검역,month
1,2020-01-20,1,,,,1,,,,,...,,,,,,,,,,2020-01
2,2020-01-21,0,,,,,,,,,...,,,,,,,,,,2020-01
3,2020-01-22,0,,,,,,,,,...,,,,,,,,,,2020-01
4,2020-01-23,0,,,,,,,,,...,,,,,,,,,,2020-01
5,2020-01-24,1,1,,,,,,,,...,,,,,,,,,,2020-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679,2021-11-28,3925,1673,148,106,278,52,53,4,5,...,63,25,121,45,25,103,89,35,10,2021-11
680,2021-11-29,3308,1393,144,88,233,61,43,2,15,...,56,33,52,49,28,68,86,44,3,2021-11
681,2021-11-30,3032,1186,79,78,192,52,43,3,22,...,84,59,81,50,36,68,60,22,8,2021-11
682,2021-12-01,5123,2222,143,86,326,29,88,17,20,...,105,48,96,50,40,97,127,27,20,2021-12
683,2021-12-02,5266,2268,158,70,355,39,166,18,8,...,145,49,149,71,39,106,94,31,5,2021-12

In [11]:
df1=df.iloc[:,1:]

In [12]:
df1["계(명)"]=pd.to_numeric(df1["계(명)"])
df1["서울"]=pd.to_numeric(df1["서울"])
df1["부산"]=pd.to_numeric(df1["부산"])
df1["대구"]=pd.to_numeric(df1["대구"])
df1["인천"]=pd.to_numeric(df1["인천"])
df1["광주"]=pd.to_numeric(df1["광주"])
df1["대전"]=pd.to_numeric(df1["대전"])
df1["울산"]=pd.to_numeric(df1["울산"])
df1["세종"]=pd.to_numeric(df1["세종"])
df1["경기"]=pd.to_numeric(df1["경기"])
df1["강원"]=pd.to_numeric(df1["강원"])
df1["충북"]=pd.to_numeric(df1["충북"])
df1["충남"]=pd.to_numeric(df1["충남"])
df1["전북"]=pd.to_numeric(df1["전북"])
df1["전남"]=pd.to_numeric(df1["전남"])
df1["경북"]=pd.to_numeric(df1["경북"])
df1["경남"]=pd.to_numeric(df1["경남"])
df1["제주"]=pd.to_numeric(df1["제주"])
df1["검역"]=pd.to_numeric(df1["검역"])

In [13]:
df1

,계(명),서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,검역,month
1,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01
2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01
3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01
4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01
5,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679,3925,1673.0,148.0,106.0,278.0,52.0,53.0,4.0,5.0,1090.0,63.0,25.0,121.0,45.0,25.0,103.0,89.0,35.0,10.0,2021-11
680,3308,1393.0,144.0,88.0,233.0,61.0,43.0,2.0,15.0,910.0,56.0,33.0,52.0,49.0,28.0,68.0,86.0,44.0,3.0,2021-11
681,3032,1186.0,79.0,78.0,192.0,52.0,43.0,3.0,22.0,909.0,84.0,59.0,81.0,50.0,36.0,68.0,60.0,22.0,8.0,2021-11
682,5123,2222.0,143.0,86.0,326.0,29.0,88.0,17.0,20.0,1582.0,105.0,48.0,96.0,50.0,40.0,97.0,127.0,27.0,20.0,2021-12
683,5266,2268.0,158.0,70.0,355.0,39.0,166.0,18.0,8.0,1495.0,145.0,49.0,149.0,71.0,39.0,106.0,94.0,31.0,5.0,2021-12

In [14]:
df1=df1.fillna(0)

In [15]:
df1

,계(명),서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,검역,month
1,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01
2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01
3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01
4,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01
5,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679,3925,1673.0,148.0,106.0,278.0,52.0,53.0,4.0,5.0,1090.0,63.0,25.0,121.0,45.0,25.0,103.0,89.0,35.0,10.0,2021-11
680,3308,1393.0,144.0,88.0,233.0,61.0,43.0,2.0,15.0,910.0,56.0,33.0,52.0,49.0,28.0,68.0,86.0,44.0,3.0,2021-11
681,3032,1186.0,79.0,78.0,192.0,52.0,43.0,3.0,22.0,909.0,84.0,59.0,81.0,50.0,36.0,68.0,60.0,22.0,8.0,2021-11
682,5123,2222.0,143.0,86.0,326.0,29.0,88.0,17.0,20.0,1582.0,105.0,48.0,96.0,50.0,40.0,97.0,127.0,27.0,20.0,2021-12
683,5266,2268.0,158.0,70.0,355.0,39.0,166.0,18.0,8.0,1495.0,145.0,49.0,149.0,71.0,39.0,106.0,94.0,31.0,5.0,2021-12

In [16]:
df1=df1.groupby(by='month').agg('sum')

In [17]:
df1

,계(명),서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,검역
month,,,,,,,,,,,,,,,,,,,
2020-01,11,7.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2020-02,2920,67.0,75.0,2055.0,5.0,9.0,13.0,17.0,1.0,74.0,7.0,10.0,48.0,4.0,2.0,472.0,59.0,2.0,0.0
2020-03,6855,376.0,44.0,4629.0,58.0,11.0,23.0,22.0,45.0,400.0,29.0,34.0,80.0,8.0,7.0,828.0,37.0,7.0,217.0
2020-04,979,183.0,18.0,168.0,29.0,10.0,4.0,4.0,0.0,200.0,17.0,1.0,15.0,5.0,6.0,65.0,21.0,4.0,229.0
2020-05,703,228.0,10.0,31.0,113.0,2.0,6.0,9.0,1.0,164.0,4.0,15.0,3.0,3.0,4.0,14.0,6.0,2.0,88.0
2020-06,1331,451.0,7.0,23.0,135.0,12.0,71.0,3.0,3.0,367.0,8.0,4.0,21.0,6.0,5.0,10.0,11.0,4.0,190.0
2020-07,1506,288.0,17.0,34.0,42.0,160.0,49.0,4.0,0.0,339.0,9.0,9.0,23.0,12.0,14.0,12.0,25.0,7.0,462.0
2020-08,5641,2268.0,130.0,107.0,333.0,170.0,90.0,30.0,17.0,1714.0,115.0,55.0,142.0,48.0,104.0,54.0,77.0,19.0,168.0
2020-09,3865,1425.0,120.0,85.0,200.0,121.0,104.0,58.0,9.0,1123.0,35.0,43.0,152.0,41.0,27.0,96.0,55.0,14.0,157.0
2020-10,2700,718.0,171.0,42.0,129.0,16.0,82.0,16.0,6.0,1020.0,55.0,18.0,57.0,38.0,16.0,36.0,25.0,0.0,255.0
2020-11,7688,2800.0,217.0,58.0,364.0,185.0,52.0,35.0,18.0,1874.0,373.0,138.0,358.0,168.0,239.0,117.0,309.0,21.0,362.0
2020-12,26527,10184.0,1058.0,569.0,1430.0,385.0,351.0,475.0,49.0,7173.0,555.0,836.0,754.0,503.0,136.0,720.0,700.0,336.0,313.0
2021-01,17471,5160.0,889.0,507.0,974.0,702.0,252.0,264.0,47.0,5353.0,488.0,411.0,363.0,202.0,189.0,593.0,686.0,106.0,285.0
2021-02,11467,4080.0,466.0,315.0,618.0,301.0,93.0,76.0,30.0,3747.0,169.0,182.0,428.0,152.0,110.0,236.0,172.0,48.0,244.0
2021-03,13415,3794.0,583.0,304.0,627.0,125.0,96.0,141.0,44.0,5029.0,466.0,434.0,187.0,260.0,54.0,251.0,777.0,55.0,188.0
2021-04,18927,5807.0,1244.0,424.0,607.0,200.0,444.0,725.0,87.0,5617.0,354.0,438.0,402.0,485.0,140.0,606.0,955.0,82.0,310.0
2021-05,18331,6078.0,619.0,565.0,533.0,396.0,348.0,699.0,123.0,4885.0,501.0,315.0,505.0,289.0,410.0,582.0,784.0,323.0,376.0
2021-06,16623,6072.0,553.0,682.0,569.0,132.0,573.0,246.0,80.0,4978.0,374.0,363.0,266.0,139.0,185.0,257.0,548.0,234.0,372.0
2021-07,41374,14364.0,1985.0,1071.0,2293.0,462.0,1538.0,382.0,176.0,11721.0,934.0,544.0,1142.0,403.0,387.0,507.0,1956.0,468.0,1041.0
2021-08,53077,15001.0,3180.0,1977.0,2767.0,654.0,1458.0,969.0,257.0,15298.0,967.0,1302.0,1991.0,821.0,565.0,1644.0,2777.0,870.0,579.0
2021-09,59860,21134.0,1335.0,1853.0,3975.0,936.0,1338.0,990.0,246.0,19046.0,977.0,1192.0,2196.0,927.0,484.0,1223.0,1480.0,273.0,255.0
2021-10,53421,19107.0,1190.0,1643.0,3571.0,382.0,547.0,256.0,126.0,18333.0,762.0,1556.0,1467.0,672.0,459.0,1386.0,1548.0,225.0,191.0
2021-11,82531,34692.0,2343.0,1816.0,5245.0,914.0,1023.0,219.0,195.0,25012.0,1440.0,945.0,2329.0,1145.0,876.0,1559.0,2007.0,604.0,167.0
2021-12,10389,4490.0,301.0,156.0,681.0,68.0,254.0,35.0,28.0,3077.0,250.0,97.0,245.0,121.0,79.0,203.0,221.0,58.0,25.0

In [18]:
df1

,계(명),서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,검역
month,,,,,,,,,,,,,,,,,,,
2020-01,11,7.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2020-02,2920,67.0,75.0,2055.0,5.0,9.0,13.0,17.0,1.0,74.0,7.0,10.0,48.0,4.0,2.0,472.0,59.0,2.0,0.0
2020-03,6855,376.0,44.0,4629.0,58.0,11.0,23.0,22.0,45.0,400.0,29.0,34.0,80.0,8.0,7.0,828.0,37.0,7.0,217.0
2020-04,979,183.0,18.0,168.0,29.0,10.0,4.0,4.0,0.0,200.0,17.0,1.0,15.0,5.0,6.0,65.0,21.0,4.0,229.0
2020-05,703,228.0,10.0,31.0,113.0,2.0,6.0,9.0,1.0,164.0,4.0,15.0,3.0,3.0,4.0,14.0,6.0,2.0,88.0
2020-06,1331,451.0,7.0,23.0,135.0,12.0,71.0,3.0,3.0,367.0,8.0,4.0,21.0,6.0,5.0,10.0,11.0,4.0,190.0
2020-07,1506,288.0,17.0,34.0,42.0,160.0,49.0,4.0,0.0,339.0,9.0,9.0,23.0,12.0,14.0,12.0,25.0,7.0,462.0
2020-08,5641,2268.0,130.0,107.0,333.0,170.0,90.0,30.0,17.0,1714.0,115.0,55.0,142.0,48.0,104.0,54.0,77.0,19.0,168.0
2020-09,3865,1425.0,120.0,85.0,200.0,121.0,104.0,58.0,9.0,1123.0,35.0,43.0,152.0,41.0,27.0,96.0,55.0,14.0,157.0
2020-10,2700,718.0,171.0,42.0,129.0,16.0,82.0,16.0,6.0,1020.0,55.0,18.0,57.0,38.0,16.0,36.0,25.0,0.0,255.0
2020-11,7688,2800.0,217.0,58.0,364.0,185.0,52.0,35.0,18.0,1874.0,373.0,138.0,358.0,168.0,239.0,117.0,309.0,21.0,362.0
2020-12,26527,10184.0,1058.0,569.0,1430.0,385.0,351.0,475.0,49.0,7173.0,555.0,836.0,754.0,503.0,136.0,720.0,700.0,336.0,313.0
2021-01,17471,5160.0,889.0,507.0,974.0,702.0,252.0,264.0,47.0,5353.0,488.0,411.0,363.0,202.0,189.0,593.0,686.0,106.0,285.0
2021-02,11467,4080.0,466.0,315.0,618.0,301.0,93.0,76.0,30.0,3747.0,169.0,182.0,428.0,152.0,110.0,236.0,172.0,48.0,244.0
2021-03,13415,3794.0,583.0,304.0,627.0,125.0,96.0,141.0,44.0,5029.0,466.0,434.0,187.0,260.0,54.0,251.0,777.0,55.0,188.0
2021-04,18927,5807.0,1244.0,424.0,607.0,200.0,444.0,725.0,87.0,5617.0,354.0,438.0,402.0,485.0,140.0,606.0,955.0,82.0,310.0
2021-05,18331,6078.0,619.0,565.0,533.0,396.0,348.0,699.0,123.0,4885.0,501.0,315.0,505.0,289.0,410.0,582.0,784.0,323.0,376.0
2021-06,16623,6072.0,553.0,682.0,569.0,132.0,573.0,246.0,80.0,4978.0,374.0,363.0,266.0,139.0,185.0,257.0,548.0,234.0,372.0
2021-07,41374,14364.0,1985.0,1071.0,2293.0,462.0,1538.0,382.0,176.0,11721.0,934.0,544.0,1142.0,403.0,387.0,507.0,1956.0,468.0,1041.0
2021-08,53077,15001.0,3180.0,1977.0,2767.0,654.0,1458.0,969.0,257.0,15298.0,967.0,1302.0,1991.0,821.0,565.0,1644.0,2777.0,870.0,579.0
2021-09,59860,21134.0,1335.0,1853.0,3975.0,936.0,1338.0,990.0,246.0,19046.0,977.0,1192.0,2196.0,927.0,484.0,1223.0,1480.0,273.0,255.0
2021-10,53421,19107.0,1190.0,1643.0,3571.0,382.0,547.0,256.0,126.0,18333.0,762.0,1556.0,1467.0,672.0,459.0,1386.0,1548.0,225.0,191.0
2021-11,82531,34692.0,2343.0,1816.0,5245.0,914.0,1023.0,219.0,195.0,25012.0,1440.0,945.0,2329.0,1145.0,876.0,1559.0,2007.0,604.0,167.0
2021-12,10389,4490.0,301.0,156.0,681.0,68.0,254.0,35.0,28.0,3077.0,250.0,97.0,245.0,121.0,79.0,203.0,221.0,58.0,25.0

In [19]:
df1=df1.iloc[12:22,1:18]

In [20]:
df1

,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
month,,,,,,,,,,,,,,,,,
2021-01,5160.0,889.0,507.0,974.0,702.0,252.0,264.0,47.0,5353.0,488.0,411.0,363.0,202.0,189.0,593.0,686.0,106.0
2021-02,4080.0,466.0,315.0,618.0,301.0,93.0,76.0,30.0,3747.0,169.0,182.0,428.0,152.0,110.0,236.0,172.0,48.0
2021-03,3794.0,583.0,304.0,627.0,125.0,96.0,141.0,44.0,5029.0,466.0,434.0,187.0,260.0,54.0,251.0,777.0,55.0
2021-04,5807.0,1244.0,424.0,607.0,200.0,444.0,725.0,87.0,5617.0,354.0,438.0,402.0,485.0,140.0,606.0,955.0,82.0
2021-05,6078.0,619.0,565.0,533.0,396.0,348.0,699.0,123.0,4885.0,501.0,315.0,505.0,289.0,410.0,582.0,784.0,323.0
2021-06,6072.0,553.0,682.0,569.0,132.0,573.0,246.0,80.0,4978.0,374.0,363.0,266.0,139.0,185.0,257.0,548.0,234.0
2021-07,14364.0,1985.0,1071.0,2293.0,462.0,1538.0,382.0,176.0,11721.0,934.0,544.0,1142.0,403.0,387.0,507.0,1956.0,468.0
2021-08,15001.0,3180.0,1977.0,2767.0,654.0,1458.0,969.0,257.0,15298.0,967.0,1302.0,1991.0,821.0,565.0,1644.0,2777.0,870.0
2021-09,21134.0,1335.0,1853.0,3975.0,936.0,1338.0,990.0,246.0,19046.0,977.0,1192.0,2196.0,927.0,484.0,1223.0,1480.0,273.0
2021-10,19107.0,1190.0,1643.0,3571.0,382.0,547.0,256.0,126.0,18333.0,762.0,1556.0,1467.0,672.0,459.0,1386.0,1548.0,225.0

In [21]:
df2=df1.reset_index().melt(id_vars='month')

In [22]:
df2.head(30)

      month variable    value
0   2021-01       서울   5160.0
1   2021-02       서울   4080.0
2   2021-03       서울   3794.0
3   2021-04       서울   5807.0
4   2021-05       서울   6078.0
5   2021-06       서울   6072.0
6   2021-07       서울  14364.0
7   2021-08       서울  15001.0
8   2021-09       서울  21134.0
9   2021-10       서울  19107.0
10  2021-01       부산    889.0
11  2021-02       부산    466.0
12  2021-03       부산    583.0
13  2021-04       부산   1244.0
14  2021-05       부산    619.0
15  2021-06       부산    553.0
16  2021-07       부산   1985.0
17  2021-08       부산   3180.0
18  2021-09       부산   1335.0
19  2021-10       부산   1190.0
20  2021-01       대구    507.0
21  2021-02       대구    315.0
22  2021-03       대구    304.0
23  2021-04       대구    424.0
24  2021-05       대구    565.0
25  2021-06       대구    682.0
26  2021-07       대구   1071.0
27  2021-08       대구   1977.0
28  2021-09       대구   1853.0
29  2021-10       대구   1643.0

In [23]:
total=pd.read_csv('https://raw.githubusercontent.com/guebin/2021DV/master/_notebooks/2021-11-22-prov.csv')

In [24]:
total

   행정구역(시군구)별  총인구수 (명)
0       서울특별시   9532428
1       부산광역시   3356311
2       대구광역시   2390721
3       인천광역시   2945009
4       광주광역시   1442454
5       대전광역시   1454228
6       울산광역시   1122566
7     세종특별자치시    368276
8         경기도  13549577
9         강원도   1537717
10       충청북도   1596948
11       충청남도   2118977
12       전라북도   1789770
13       전라남도   1834653
14       경상북도   2627925
15       경상남도   3318161
16    제주특별자치도    676569

In [25]:
city=['서울특별시']*10+['부산광역시']*10+['대구광역시']*10+['인천광역시']*10+['광주광역시']*10+['대전광역시']*10+['울산광역시']*10+['세종특별자치시']*10+['경기도']*10+['강원도']*10+['충청북도']*10+['충청남도']*10+['전라북도']*10+['전라남도']*10+['경상북도']*10+['경상남도']*10+['제주특별자치도']*10
count=['9532428']*10+['3356311']*10+['2390721']*10+['2945009']*10+['1442454']*10+['1454228']*10+['1122566']*10+['368276']*10+['13549577']*10+['1537717']*10+['1596948']*10+['2118977']*10+['1789770']*10+['1834653']*10+['2627925']*10+['3318161']*10+['676569']*10
ttotal=pd.DataFrame({'행정구역(시군구)별':city,'총인구수(명)':count})

In [26]:
ttotal

    행정구역(시군구)별  총인구수(명)
0        서울특별시  9532428
1        서울특별시  9532428
2        서울특별시  9532428
3        서울특별시  9532428
4        서울특별시  9532428
..         ...      ...
165    제주특별자치도   676569
166    제주특별자치도   676569
167    제주특별자치도   676569
168    제주특별자치도   676569
169    제주특별자치도   676569

[170 rows x 2 columns]

In [27]:
pd.concat([df2,ttotal],axis=1)

       month variable   value 행정구역(시군구)별  총인구수(명)
0    2021-01       서울  5160.0      서울특별시  9532428
1    2021-02       서울  4080.0      서울특별시  9532428
2    2021-03       서울  3794.0      서울특별시  9532428
3    2021-04       서울  5807.0      서울특별시  9532428
4    2021-05       서울  6078.0      서울특별시  9532428
..       ...      ...     ...        ...      ...
165  2021-06       제주   234.0    제주특별자치도   676569
166  2021-07       제주   468.0    제주특별자치도   676569
167  2021-08       제주   870.0    제주특별자치도   676569
168  2021-09       제주   273.0    제주특별자치도   676569
169  2021-10       제주   225.0    제주특별자치도   676569

[170 rows x 5 columns]

In [28]:
problem2_total=pd.concat([df2,ttotal],axis=1)

In [29]:
problem2_total["value"]=pd.to_numeric(problem2_total["value"])
problem2_total["총인구수(명)"]=pd.to_numeric(problem2_total["총인구수(명)"])

In [30]:
problem2_total=problem2_total.assign(prob=list(map(lambda x,y: x/y,problem2_total.iloc[:,2] ,problem2_total.iloc[:,4])))

In [31]:
problem2_total

       month variable   value 행정구역(시군구)별  총인구수(명)      prob
0    2021-01       서울  5160.0      서울특별시  9532428  0.000541
1    2021-02       서울  4080.0      서울특별시  9532428  0.000428
2    2021-03       서울  3794.0      서울특별시  9532428  0.000398
3    2021-04       서울  5807.0      서울특별시  9532428  0.000609
4    2021-05       서울  6078.0      서울특별시  9532428  0.000638
..       ...      ...     ...        ...      ...       ...
165  2021-06       제주   234.0    제주특별자치도   676569  0.000346
166  2021-07       제주   468.0    제주특별자치도   676569  0.000692
167  2021-08       제주   870.0    제주특별자치도   676569  0.001286
168  2021-09       제주   273.0    제주특별자치도   676569  0.000404
169  2021-10       제주   225.0    제주특별자치도   676569  0.000333

[170 rows x 6 columns]

In [32]:
problem2_total["prob"]=pd.to_numeric(problem2_total["prob"])

In [33]:
problem2_total['prob'].idxmax() #prob의 22번째 값이 가장 크다.

8

In [34]:
problem2_total.head(9)

     month variable    value 행정구역(시군구)별  총인구수(명)      prob
0  2021-01       서울   5160.0      서울특별시  9532428  0.000541
1  2021-02       서울   4080.0      서울특별시  9532428  0.000428
2  2021-03       서울   3794.0      서울특별시  9532428  0.000398
3  2021-04       서울   5807.0      서울특별시  9532428  0.000609
4  2021-05       서울   6078.0      서울특별시  9532428  0.000638
5  2021-06       서울   6072.0      서울특별시  9532428  0.000637
6  2021-07       서울  14364.0      서울특별시  9532428  0.001507
7  2021-08       서울  15001.0      서울특별시  9532428  0.001574
8  2021-09       서울  21134.0      서울특별시  9532428  0.002217

In [35]:
problem2_total['prob'].max()

0.002217063690384024

In [36]:
problem2_total

       month variable   value 행정구역(시군구)별  총인구수(명)      prob
0    2021-01       서울  5160.0      서울특별시  9532428  0.000541
1    2021-02       서울  4080.0      서울특별시  9532428  0.000428
2    2021-03       서울  3794.0      서울특별시  9532428  0.000398
3    2021-04       서울  5807.0      서울특별시  9532428  0.000609
4    2021-05       서울  6078.0      서울특별시  9532428  0.000638
..       ...      ...     ...        ...      ...       ...
165  2021-06       제주   234.0    제주특별자치도   676569  0.000346
166  2021-07       제주   468.0    제주특별자치도   676569  0.000692
167  2021-08       제주   870.0    제주특별자치도   676569  0.001286
168  2021-09       제주   273.0    제주특별자치도   676569  0.000404
169  2021-10       제주   225.0    제주특별자치도   676569  0.000333

[170 rows x 6 columns]

In [37]:
global_distriction_jsonurl='https://raw.githubusercontent.com/southkorea/southkorea-maps/master/kostat/2018/json/skorea-provinces-2018-geo.json'

In [38]:
global_dict = json.loads(requests.get(global_distriction_jsonurl).text)

In [39]:
[global_dict['features'][i]['properties']['name'] for i in range(17)]

['서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [40]:
import plotly.express as px ### plotly 로 시각화
from IPython.display import HTML
fig=px.choropleth_mapbox(problem2_total, 
                     geojson=global_dict, 
                     color="prob",
                    locations="행정구역(시군구)별" ,
                     animation_frame='month',
                    featureidkey="properties.name",
                     center={"lat": 36, "lon": 128},
                     mapbox_style="carto-positron", 
                    range_color=(0,problem2_total.iloc[:,5].max()),
                     height=1200,
                     zoom=6.5)
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
_html=fig.to_html(include_mathjax=False, config=dict({'scrollZoom':False}))
#HTML(_html)

---------------------------