In [8]:
import numpy as np

In [9]:
import pandas as pd

In [ ]:
a=[1,2,3,4,5]
name=["태조","정종","태조","세종","문종"]
life=[73,62,55,53,58]

In [6]:
vars = {'id' : [1, 2, 3, 4, 5],
        'name' : ['태조', '정종', '태조', '세종', '문종'],
        'life' : [73, 62, 55, 53, 38]
        }

In [10]:
data_king = pd.DataFrame(vars, columns = ['id', 'name', 'life'])

In [12]:
data_king

   id name  life
0   1   태조    73
1   2   정종    62
2   3   태조    55
3   4   세종    53
4   5   문종    38

In [17]:
dataset=pd.read_csv('buy.csv')
dataset

      id  year  buy  age  edu  income   exp    co     ad   prod
0      1  2013    1    5    3   17600  8800   9.3  11.36   5.01
1      2  2013    0    4    2    2500  2300  10.2   0.39    NaN
2      3  2013    0    3    1    6700  5400  30.6   3.83  16.67
3      4  2013    1    2    1    1900  1200  24.4   1.36   3.28
4      5  2013    0    3    1    2500  1900  19.7   2.78   2.15
..   ...   ...  ...  ...  ...     ...   ...   ...    ...    ...
695  696  2015    0    2    3    2000  1000   4.7   0.22   0.72
696  697  2015    0    4    2    6600  5500  12.1   2.32   5.67
697  698  2015    1    3    2    2700  1400   4.6   0.26   0.98
698  699  2015    0    4    1    7700  3200   8.4   2.30   4.17
699  700  2015    0    3    1    4400  3600  14.7   2.99   3.47

[700 rows x 10 columns]

In [28]:
np.corrcoef(dataset['income'], dataset['ad'])

array([[1.        , 0.56583209],
       [0.56583209, 1.        ]])

In [23]:
dataset[id]

KeyError: 1221904978176